* {
	box-sizing: border-box;
}

.p-0 {
	padding: 0;
}
.m-0 {
	margin: 0;
}
.ml-4 {
	margin-left: 4px;
}
.mr-16 {
	margin-right: 16px;
}
.mr-32 {
	margin-right: 32px;
}
.mh-16 {
	margin: 0 16px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mv-8 {
	margin: 8px 0;
}
.mv-40 {
	margin: 40px 0;
}
.pv-40 {
	padding: 40px 0;
}
.pt-40 {
	padding-top: 40px;
}
.mt-40 {
	margin-top: 40px;
}

html {
}
body {
	width: 900px;
	max-width: 90%;
	margin: 0 auto 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #122122;
	line-height: 20px;
}
h1 {
	line-height: 32px;
}
h2 {
	margin-bottom: 32px;
}
h3 {
	margin: 40px 0 16px 0;
}
hr {
	margin: 80px 0;
}
a {
	color: #0768dd;
	font-weight: bold;
}
a:hover {
	color: #5f1ae5;
}
section.box {
	padding: 32px;
	border:  1px solid #ddd;
	border-radius: 16px;
}
#social {
	display: flex;
	justify-content: center;
}
#navigation {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: #fff;
}
#navigation ul {
	list-style-type: none;
	display: flex;
}
#header-image {
	width: 900px;
	max-width: 100%;
	border-radius: 16px;
}
.button {
	padding: 4px 8px;
	font-weight: bold;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	background: #122122;
	transition: all 0.5s ease;
}
.button.button-link {
	background: #fff;
	color: #122122;
}
.button.button-link:hover {
	background: #fff;
	color: #5f1ae5;
}
.button.button-link.selected {
	border-bottom: 4px solid #5f1ae5;
}
.button:hover {
	background: #5f1ae5;
	color: #fff;
}
.bg-q-gradient {
    background-image: linear-gradient(135deg, #21dbaa, #00b4ef, #0768dd, #5f1ae5);
}

@media (max-width: 600px) {
	#navigation {
		flex-direction: column;
	}
	#navigation ul {
		padding: 0;
	}
	#social img {
		width: 100%;
	}
}
